@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  --color-light-primary: #1C1C1C;
  --color-light-secondary: #f7f7f7;
  --color-light-text: #343434;
  --color-dark-primary: #FEFEFE;
  --color-dark-secondary: #1C1C1C;
  --color-dark-text: #FEFEFE;
  --color-accent: #e89803; 
  --color-btn-primary: #00A9FF;
  --color-btn-secondary: #42baf7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Radio Canada Big", system-ui, --apple-system, sans-serif;
}

a {
  color: var(--color-light-text);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--color-accent);
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-accent);
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-secondary);
  padding: 15px 18px 5px 10px;
  border: 1px solid #e3e3e3;
  position: absolute;
  width: 100%;
}

#nav-brand {
  display: flex;
  align-items: center;
}

#nav-brand h2 {
  color: var(--color-accent);
  font-weight: 500;
  padding-bottom: 15px;
}

#nav-logo {
  max-width: 40px;
}

#nav-links {
  display: flex;
  padding-top: 5px;
  gap: 10px;
}

.hide {
  display: none;
}

.show {
  display: unset;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  height: 400px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
}

.btn {
  background-color: var(--color-btn-primary);
  color: var(--color-dark-text);
  padding: 5px;
  border: 1px solid var(--color-btn-primary);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* HOME */
#home {
  height: 100vh;
}

/* PRACTICE */

#practice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.score {
  margin-left: auto; 
  padding-right: 40px;
}

.score-counter {
  font-weight: 500;
}

.score-number {
  background-color: var(--color-accent); 
  color: var(--color-light-secondary); 
  padding: 5px 10px; 
  border-radius: 5px;
  margin-left: 5px;
}

.instruction-text {
  font-size: 1.2em;
}

.user-input {
  text-align: center;
  border: none;
  letter-spacing: 1px;
  border-bottom: 3px solid #626262;
  padding: 10px;
  caret-color: var(--color-accent);
  font-weight: 700;
  font-size: 2em;
}

.user-input:focus {
  outline: none;
}

.message-container {
  height: 50px;
}

.message {
  font-weight: 500;
  font-size: 1em;
}

/* ABOUT */

#about {
  background-color: var(--color-accent);
  color: #fff4e0;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
}

#about-heading {
  align-self: start;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.about-subheading {
  align-self: start;
  padding: 40px 0 20px 20px;
}

.about-desc {
  padding: 0 20px;
}

.bio {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 40px;
}

.bio-desc {
  width: 300px;
}

.avatar, .avatar-2 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid #626262;
  margin-right: 20px;
}

.avatar {
  background-image: url('../../../portrait.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-2 {
  background-image: url('../../portrait-2.jpeg');
  background-position: center;
}

@media (min-width: 1400px) {
  #about {
    padding: 80px 300px;
  }
}

@media (max-width: 1400px) {
  #about {
    padding: 80px 50px;
  }
}